.products-container {
  width: 100%;
  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
  .fav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: 990px) {
  .products-container {
    .product-list {
      grid-template-columns: 1fr 1fr;
    }
    .fav-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 650px) {
  .products-container {
    .product-list {
      grid-template-columns: 1fr;
    }
    .fav-list {
      grid-template-columns: 1fr 1fr;
    }
  }
}
