.footer-container {
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & > h3 {
    color: #36363670;
    font-size: 1.7rem;
    text-align: center;
  }

  .icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    svg {
      color: #36363670;
      font-size: 2.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.23s;
      &:hover {
        scale: 1.1;
        color: #3b2a2a;
      }
    }
  }
}
