.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
    width: 100%;
    max-width: 120rem;
    height: auto;
    padding: 2rem;

    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
      img {
        max-width: 6.5rem;
        height: auto;
        filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.05));
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      }
      figcaption {
        font-size: 1.5rem;
        color: #2d2e32;
        font-weight: 700;
      }
    }

    .link-list {
      display: flex;
      gap: 3rem;

      a {
        color: #2d2e32;
        transition: all 0.23s;
        cursor: pointer;
        font-size: 2rem;
        &:hover {
          opacity: 0.5;
        }
      }

      svg {
        width: 2.4rem;
        height: 2.4rem;
        color: #2d2e32;
        cursor: pointer;
        transition: all 0.23s;
        &:hover {
          opacity: 0.5;
        }
      }
    }

    .menu-icon {
      display: none;
    }
  }
}

@media (1100px >= width) {
  .header {
    .header-nav {
      padding: 1.5rem;
    }
  }
}

@media (900px >= width) {
  .header {
    .header-nav {
      .link-list {
        li {
          display: none;
        }
      }

      .menu-icon {
        display: flex;
        svg {
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@media (460px >= width) {
  .header-nav {
    padding: 0.5rem;
  }
}
