.filter-container {
  .category-title {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    h3 {
      width: 100%;
      font-size: 2.7rem;
      text-transform: uppercase;
      text-align: center;
    }

    a {
      color: rgba(54, 54, 54, 0.4392156863);
      font-size: 1.6rem;
      text-decoration: none;
      color: black;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.23s;
      &:hover {
        opacity: 0.5;
      }
    }

    svg {
      color: rgba(54, 54, 54, 0.4392156863);
      font-size: 2.9rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding-top: 3rem;

    .selected {
      border: 2px solid rgba(0, 0, 0, 0.5);
      color: rgba(54, 54, 54, 0.95);
      background-color: rgba(54, 54, 54, 0.03);
      scale: 1.1;
    }

    li {
      font-size: 1.4rem;
      padding: 0.6rem 1.6rem;
      cursor: pointer;
      background-color: transparent;
      border: 2px solid rgba(0, 0, 0, 0.3);
      transition: all 0.2s;
      color: rgba(54, 54, 54, 0.692);
      border-radius: 0.25rem;
      &:hover {
        border: 2px solid rgba(0, 0, 0, 0.5);
        color: rgba(54, 54, 54, 0.95);
        background-color: rgba(54, 54, 54, 0.03);
      }
    }
  }
}
